/*colors
фон - fff
hero - background: #2F303A;
черный для контактов хедера 212121
черный для Studio - 000
голубой 2196F3
 белый акцент F5F4FA
EEEEEE
*/

:root {

/*--main-font: "Roboto", san-serif
--secondary-font: "Raleway", san-serif*/

:root {
    --white-text: rgba(255, 255, 255, 1);
    --blue-text: rgba(33, 150, 243, 1);
    --black-text: rgba(33, 33, 33, 1);
    --pepel-text-phone: rgba(117, 117, 117, 1);
    --background-section-one: rgba(47, 48, 58, 1);
    --background-section-four: rgba(245, 244, 250, 1);
    --footer-adress: rgba(255, 255, 255, 0.6);
    --mouse: rgba(0, 0, 0, 1);
  }


}

